<div class="header">
    <div class="row">
    <div class="col-5">
    <h1 style="color: aqua(240,255,127);">My frist role based App </h1></div>
    <div class="col-7" style="padding-top: 9px;">
    <button class="btn btn-danger" style="margin-left: 35%;"routerLink="about">About us</button>
    <button class="btn btn-danger ms-3" style="margin-left: 2%;"routerLink="contact">contact us</button>
    <button class="btn btn-danger ms-3"style="margin-left: 2%;"routerLink="enquiry">Enquiry</button>
    <button class="btn btn-danger ms-3"style="margin-left: 2%;"routerLink="login">Login</button>
    <button class="btn btn-danger ms-3"style="margin-left: 2%;" routerLink="Location">Location</button>
    
</div>
</div>
</div>
<router-outlet></router-outlet>